{% extends 'ca/base.html' %}
{% load static %}
{% block head %}
<link href="{% static 'css/signin.css' %}" rel="stylesheet">
{% endblock %}
{% block title %}Sign in to CAMoonlight{% endblock %}
{% block body %}
    <form class="form-signin " id="login_form" method="post">

        <h2 class="form-signin-heading">Please log in</h2>
        {% csrf_token %}
        {% if bad_details %}
        <p><strong>Your username and/or password were incorrect.</strong></p>
        {% elif disabled_account %}
        <p><strong>Your account has been disabled/</strong></p>
        {% endif %}

        <input type="text" class="form-control" placeholder="Username" name="username" value="" size="50" />
        <input type="password" class="form-control" placeholder="Password" name="password" value="" size="50" />
        <br/>
        <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
    </form>
{% endblock %}
